{% extends "register/base.html" %}
{% load static %}

{% block title %}Password Reset{% endblock %}

{% block content %}
    <section class="banner_area">
        <div class="box_1620">
            <div class="banner_inner d-flex align-items-center">
                <div class="container">
                    <div class=" banner_content d-flex">
                        <img src="{% static 'img/nafrc-logo.png' %}" alt="" style="filter: blur(1px);
                        height: 100%; width: 100%">
                     </div>
                    <div class="banner_content text-center">
                        <h2>Password Reset Done</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="section-top-border">
            <p class="text-mutted mb-20 mt-20">
                If the email you provided exists on this system, you will receive an email with a link to reset your password.
                Hurry now, the email expires after some time.
            </p>
        </div>
    </div>
{% endblock%}
