{% extends "register/base.html" %}
{% load static %}
{% block title %} {{ employee }} Details {% endblock %}
{% block content %}

    <!--================Home Banner Area =================-->
    <section class="home_banner_area">
                <div class="container box_1620">
                    <div class="banner_inner d-flex align-items-center">
                        <div class="banner_content">
                            <div class="media">
                                <div class="d-flex">
                                    <img src="{% static 'img/personal.jpg' %}" alt="">
                                </div>
                                <div class="media-body">
                                    <div class="personal_text">
                                        <h3>{{ employee }}</h3>
                                        <h4>{{ employee.rank | default:'N/A' }}</h4><ul class="list basic_info">
                                            <li><a href="#"><i class="lnr lnr-user"></i>{{ employee.p_number | default:'N/A'}}</a></li>
                                            <li><a href="#"><i class="lnr lnr-calendar-full"></i>{{ employee.birth_date | default:'N/A'}}</a></li>
                                            <li><a href="#"><i class="lnr lnr-phone-handset"></i>{{ employee.phone | default:'N/A' }}</a></li>
                                            <li><a href="#"><i class="lnr lnr-envelope"></i> {{ employee.email | default:'N/A' }}</a></li>
                                            <li><a href="#"><i class="lnr lnr-home"></i> {{ employee.address | default:'N/A' }}</a></li>
                                        </ul>
                                        <ul class="list personal_social">
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    <div class="container">
        <!--================End Home Banner Area =================-->
        <div class="section-top-border">
            <h3 class="mb-30 title_color">{{ employee }} details</h3>
                <div class="progress-table-wrap">
                    <div class="progress-table">
                        <div class="table-row">
                            <div class="country">First Name: </div>
                            <div class="country">{{ employee.first_name | default:'N/A'}}</div>
                        </div>
                        <div class="table-row">
                            <div class="country">Middle Name: </div>
                            <div class="country">{{ employee.middle_name | default:'N/A'}}</div>
                        </div>
                        <div class="table-row">
                            <div class="country">Last Name: </div>
                            <div class="country">{{ employee.last_name | default:'N/A'}}</div>
                        </div>
                        <div class="table-row">
                            <div class="country">P Number: </div>
                            <div class="country">{{ employee.p_number | default:'N/A'}}</div>
                        </div>
                        <div class="table-row">
                            <div class="country">Speciality: </div>
                            <div class="country">{{ employee.speciality | default:'N/A'}}</div>
                        </div>
                        <div class="table-row">
                            <div class="country">Date TOS: </div>
                            <div class="country">{{ employee.date_tos | default:'N/A'}}</div>
                        </div>
                        <div class="table-row">
                            <div class="country">Seniority: </div>
                            <div class="country">{{ employee.seniority | default:'N/A'}}</div>
                        </div>
                        <div class="table-row">
                            <div class="country">T Comm: </div>
                            <div class="country">{{ employee.t_comm | default:'N/A'}}</div>
                        </div>
                        <div class="table-row">
                            <div class="country">Marital Status: </div>
                            <div class="country">{{ employee.marital_status | default:'N/A'}}</div>
                        </div>
                        <div class="table-row">
                            <div class="country">Gender: </div>
                            <div class="country">{{ employee.gender | default:'N/A'}}</div>
                        </div>
                        <div class="table-row">
                            <div class="country">Unit: </div>
                            <div class="country">{{ employee.unit | default:'N/A' }}</div>
                        </div>
                        <div class="table-row">
                            <div class="country">Religion: </div>
                            <div class="country">{{ employee.religion | default:'N/A'}}</div>
                        </div>
                        <div class="table-row">
                            <div class="country">Blood Group: </div>
                            <div class="country">{{ employee.blood_group | default:'N/A'}}</div>
                        </div>
                        <div class="table-row">
                            <div class="country">Genotype: </div>
                            <div class="country">{{ employee.genotype | default:'N/A'}}</div>
                        </div>
                        <div class="table-row">
                            <div class="country">NIN: </div>
                            <div class="country">{{ employee.national_id_number | default:'N/A'}}</div>
                        </div>
                        <div class="table-row">
                            <div class="country">Passport Number: </div>
                            <div class="country">{{ employee.passport_number | default:'N/A'}}</div>
                        </div>
                        <div class="table-row">
                            <div class="country">State of Residence: </div>
                            <div class="country">{{ employee.state_of_residence | default:'N/A'}}</div>
                        </div>
                        <div class="table-row">
                            <div class="country">Country: </div>
                            <div class="country">{{ employee.country | default:'N/A'}}</div>
                        </div>
                        <div class="table-row">
                            <div class="country">State of Origin: </div>
                            <div class="country">{{ employee.state_of_origin | default:'N/A'}}</div>
                        </div>
                        <div class="table-row">
                            <div class="country">Local Government Area: </div>
                            <div class="country">{{ employee.lga | default:'N/A'}}</div>
                        </div>
                        <div class="table-row">
                            <div class="country">Remarks: </div>
                            <div class="country">{{ employee.remarks | default:'N/A'}}</div>
                        </div>
                    </div>
                </div>
            </div>

        <section class="feature_area white_feature p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>Pass History</h2>
        		</div>
                {% if pass_history %}
                    <div class="feature_inner row">
                {% for pass in pass_history %}
        			<div class="col-lg-4 col-md-6">
        				<div class="feature_item">
        					<i class="flaticon-city"></i>
        					<h4>{{ pass.description }}</h4>
        					<p>Start Date: {{ pass.start }}</p>
        					<p>End Date: {{ pass.end }}</p>
        					<p>{{ pass.remarks }}</p>
        				</div>
        			</div>
                {% endfor %}
                    </div>
                {% else %}
                    <p>{{ employee }} has no pass available</p>
                {% endif %}
        	</div>
        </section>
        <!--================End Feature Area =================-->
    </div>


{% endblock %}