{% extends "register/base.html" %}
{% load static %}
{% block title %} Pass List {% endblock %}
{% block content %}

    <!--================Home Banner Area =================-->
    <section class="banner_area">
            <div class="box_1620">
				<div class="banner_inner d-flex align-items-center">
					<div class="container">
                        <div class=" banner_content d-flex">
                            <img src="{% static 'img/nafrc-logo.png' %}" alt="" style="filter: blur(1px);
                            height: 100%; width: 100%">
                         </div>
                        <div class="banner_content text-center">
							<h2>Pass History</h2>
						</div>
					</div>
				</div>
            </div>
        </section>
    <div class="container">
        <!--================End Home Banner Area =================-->
            <div class="section-top-border">
            <div class="progress-table-wrap">
                <div class="progress-table">
                    {% if object_list %}
                        <div class="table-head">
                            <div class="serial">#</div>
                            <div class="country">Employee</div>
                            <div class="country">Description</div>
                            <div class="country">Start Date</div>
                            <div class="country">End Date</div>
                            <div class="country">Remarks</div>
                        </div>

                    {% for pass in object_list %}
                        <div class="table-row">
                            <div class="serial">{{ forloop.counter }}</div>
                            <div class="country">{{ pass }}</div>
                            <div class="country">{{ pass.description }}</div>
                            <div class="country">{{ pass.start }}</div>
                            <div class="country">{{ pass.end }}</div>
                            <div class="country">{{ pass.remarks }}</div>
                        </div>
                    {% endfor %}
                    {% else %}
                         <div class="table-row">
                            <div class="ml-5">No Employee Pass History Available</div>
                         </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <!--================End Feature Area =================-->
    </div>


{% endblock %}